---
layout: page.njk
title: My work
tags:
  - nav
---

<h2>See some of my work below</h2>

<ul class="worklist">
{%- for post in collections.post | reverse -%}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
 </li>
{%- endfor -%}
</ul>
